
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Palleadmin</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{% url 'home' %}">Home</a></li>

      {% if request.user.role == 'admin' %}
      <li><a href="{% url 'employee_list' %}">Employee Data</a></li>

      {% endif %}
      <li><a href="{% url 'student_list' %}">Student Data</a></li>
      <li><a href="{% url 'add_new_student' %}">ADD Newstudent</a></li>
      {% comment %}
       <li><a href="{% url 'logout' %}">logout</a></li>
      {% endcomment %}


    </ul>
    <ul class="nav navbar-nav navbar-right">
     <li><a href="#"><span class="glyphicon glyphicon-user"></span> Welcome, {{ request.user.username }}</a></li>
     <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
   </ul>

  </div>
</nav>

